body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .chart-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    margin: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .view {
    margin: 8px;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 3px 7px #00000027;
    padding: 10px;
    width: auto;
    display: block;
  }
  .navbar {
    background-color: #ffff !important;
    border-radius: 0 0 14px 14px;
    box-shadow: 0 3px 7px #00000027;
  }
  .menu {
    background-color: #fff !important;

    border-radius: 0 14px 14px 0;
  }
  .drawer-side {
    border-radius: 0 14px 14px 0;
    box-shadow: 0 3px 7px #00000027;
    margin-right: 10px;
  }
  ul li a:active {
    background-color: #8ed884;
  }

  .logo {
    width: 30%;
    max-width: 200px;
  }
  .fas.ico {
    color: #8ed884;
  }

  .Mactive a {
    background-color: #18ca00;
    color: #fff;
  }

  .dis {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
    align-items: center;
    padding: 3px;
  }
  .dis img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .notification:hover {
    backdrop-filter: brightness(90%);
    border-radius: 50px;
  }
  .have::before {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    background-color: #18ca00;
  }
  .drawer-content {
    overflow-x: hidden;
  }

  .profile-header {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.profile-initials img{
width: 90px;
height: 90px;
background-color: #909090;
color: #fff;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
margin-right: 15px;
}

.profile-info {
flex-grow: 1;
}

.profile-name {
font-size: 20px;
margin: 0;
}

.profile-details,
.profile-role {
font-size: 14px;
color: #666;
margin: 5px 0;
}

.tr:hover{
filter: brightness(90%);

}
::-webkit-scrollbar {
width: 10px;
border-radius: 50px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 50px;

}
::-webkit-scrollbar-thumb {
background: #bababa;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
background: #bdbdbd;
}   
.openmodal{
word-break: keep-all;
text-align: center;
text-decoration: underline;
color: #006aff;
cursor: pointer;
}